:root {
    --background: #eef6ff;
    --surface: #ffffff;
    --primary: #219EBC;
    --primary-hover: #126782;
    --navbar: #0f4c81;
    --text: #1f2937;
    --border: #dbeafe;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */

.navbar {
    background: var(--navbar) !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #90e0ef !important;
}

.navbar-nav .nav-link.active{
    color: #90e0ef !important;
    font-weight: 700;
}

/* Cards */

.card {
    background: white;
    border: 1px solid var(--border);
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

/* Forms */

.form-control,
.form-select {
    background: white;
    color: #1f2937;
    border: 1px solid #cbd5e1;
}

.form-control::placeholder {
    color: #64748b;
}

.form-control:focus {
    border-color: #219ebc;
    box-shadow: 0 0 10px rgba(33, 158, 188, .25);
}

/* Buttons */

.btn-primary {
    background: #219ebc;
    border: none;
}

.btn-primary:hover {
    background: #126782;
}

.btn-success {
    background: #2a9d8f;
    border: none;
}

.btn-success:hover {
    background: #21867a;
}

/* Tables */

.table {
    background: white;
    color: #1f2937;
}

.table th {
    background: #dbeafe;
}