<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Trekking Management System
        {% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Page Specific CSS -->
    {% block css %}
    {% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm">
        <div class="container">

            <a class="navbar-brand fw-bold" href="/">
                🏔 Trekking Management
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    {% if session.get("user_id") %} 
                    {% if session.get("role") == "Organizer" %}

                    <li class="nav-item">
                        <a class="nav-link" href="/organizer">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/create-trek">Create Trek</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my-treks">My Treks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/logout">Logout</a>
                    </li>

                    {% elif session.get("role") == "Participant" %}

                    <li class="nav-item">
                        <a class="nav-link" href="/participant">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/treks">Browse Treks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/my-bookings">My Bookings</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/logout">Logout</a>
                    </li>

                    {% elif session.get("role") == "Admin" %}

                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/reports">Reports</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/logout">Logout</a>
                    </li>

                    {% endif %}
                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Flash Messages -->
    <!-- <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show">
            {{ message }}
            <button class="btn-close" data-bs-dismiss="alert">
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div> -->
    <!-- Main Content -->
    <main class="container my-5">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Page Specific JS -->
    {% block js %}
    {% endblock %}

</body>

</html>