{% extends "base.html" %}

{% block title %}
Create Trek
{% endblock %}

{% block css %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/organizer.css') }}">

{% endblock %}

{% block content %}

<h2>Create Trek</h2>

<form method="POST">

    <input class="form-control mb-3" name="title" placeholder="Trek Title" required>
    <input class="form-control mb-3" name="location" placeholder="Location" required>

    <textarea class="form-control mb-3" name="description" placeholder="Description"></textarea>

    <select class="form-control mb-3" name="difficulty">
        <option>Easy</option>
        <option>Moderate</option>
        <option>Difficult</option>
    </select>

    <label>Start Date</label>
    <input type="date" class="form-control mb-3" name="start_date" required>

    <label>End Date</label>
    <input type="date" class="form-control mb-3" name="end_date" required>

    <input type="number" class="form-control mb-3" name="capacity" placeholder="Capacity" required>
    <input type="number" class="form-control mb-3" name="price" placeholder="Price" required>

    <button class="btn btn-primary">Create Trek</button>

</form>

{% endblock %}