{% extends "layouts/dashboard_base.html" %}

{% block title %}
My Treks
{% endblock %}

{% block content %}

<div class="card shadow-lg border-0">

    <div class="card-header bg-primary text-white d-flex justify-content-between">

        <h3>
            <i class="bi bi-map-fill"></i>
            My Treks
        </h3>

        <a href="/create-trek" class="btn btn-light">
            <i class="bi bi-plus-circle"></i>
            Create Trek
        </a>

    </div>

    <div class="card-body">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Difficulty</th>
                    <th>Price</th>
                    <th>Slots</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for trek in treks %}
                <tr>
                    <td>{{ trek.title }}</td>
                    <td>{{ trek.location }}</td>
                    <td>{{ trek.difficulty }}</td>
                    <td>₹ {{ trek.price }}</td>
                    <td>{{ trek.available_slots }}</td>
                    <td>
                        <a href="/edit-trek/{{ trek.id }}"
                           class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <a href="/delete-trek/{{ trek.id }}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('Delete this trek?')">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}