{% extends "layouts/dashboard_base.html" %}

{% block title %}
Organizer Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">

Organizer Dashboard

</h2>

<div class="row">
    <div class="col-md-3">

        <div class="dashboard-card">
            <i class="bi bi-map-fill"></i>
            <h5>Total Treks</h5>
            <h2>{{ total_treks }}</h2>
        </div>

    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <i class="bi bi-calendar-event"></i>
            <h5>Upcoming</h5>
            <h2>{{ upcoming }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <i class="bi bi-people-fill"></i>
            <h5>Participants</h5>
            <h2>{{ participants }}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="dashboard-card">
            <i class="bi bi-currency-rupee"></i>
            <h5>Revenue</h5>
            <h2>₹{{ revenue }}</h2>
        </div>
    </div>

</div>

{% endblock %}