{% extends "layouts/dashboard_base.html" %}

{% block title %}
My Treks
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div>
            <h2 class="fw-bold">Assigned Treks</h2>
            <p class="text-muted">
                Manage your assigned trekking events
            </p>
        </div>
    </div>

    <div class="card shadow border-0">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Trek</th>
                        <th>Location</th>
                        <th>Difficulty</th>
                        <th>Status</th>
                        <th>Slots</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for trek in treks %}
                    <tr>
                        <td>{{ trek.id }}</td>
                        <td>{{ trek.title }}</td>
                        <td>{{ trek.location }}</td>
                        <td>{{ trek.difficulty }}</td>
                        <td>{{ trek.status }}</td>
                        <td>
                            {{ trek.available_slots }}/{{ trek.capacity }}
                        </td>
                        <td>
                            <a href="{{ url_for('Trek_staff.edit_trek', id=trek.id) }}" class="btn btn-warning btn-sm">
                                <i class="bi bi-pencil"></i>
                                Update
                            </a>

                            <a href="{{ url_for('Trek_staff.participants', trek_id=trek.id) }}" class="btn btn-info btn-sm">
                                <i class="bi bi-people"></i>
                                Participants
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}